html, body {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.content {
    padding: 10px;
}   

.form-signin {
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 50px;
    margin: auto;
}

.form-group, .btn {
    margin: 5px;
}

.nav-item {
    border-style: 1px solid white;
    border-width: medium;
}

.form-new-listing {
    display: block;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
}

img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.verti {
    height: 300px;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

.card-text {
    font-size: 14px;
}