{% extends "auctions/layout.html" %}

{% block body %}

  <div class="row">
    <div class="col">
      <h2>Active Listings</h2>
    </div>
    <div class="col">
      <div class="dropdown d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="category" data-bs-toggle="dropdown" aria-expanded="false">
          Category
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdowncategory">
          {% for category in categories %}
          <li><a class="dropdown-item" href="#">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for list in data %}
        <div class="col">
          <div class="card h-100">
            <a href="/view/{{list.title}}">
              <img src="{{ list.imageURL }}" class="card-img-top" onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqEWgS0uxxEYJ0PsOb2OgwyWvC0Gjp8NUdPw&usqp=CAU'" alt="..." style="width: 100%; height: 15vw; object-fit: cover;">
            </a>
            <div class="card-body">
              <a href="/view/{{list.title}}">
                <h5 class="card-title">{{ list.title }}</h5>
              </a>
              <p class="card-text">{{ list.description }}</p>
            </div>
            {% if user.is_authenticated %}
            <div class="button m-2">
              {% if list.active_bid is True %}
                {% if list.id not in data_watchlist %}
                  <a href="{% url 'add_watchlist' list.title %}" class="btn btn-outline-success btn-sm">Add to Watchlist</a>
                {% else %}
                  <a href="{% url 'remove_watchlist' list.title %}" class="btn btn-outline-warning btn-sm">Remove Watchlist</a>
                {% endif %}
              {% else %}
                <div class="d-grid gap-2">
                  <button class="btn btn-danger btn-sm" type="button">CLOSED</button>
                </div>
              {% endif %}
              </div>
            {% endif %}
            <div class="card-footer text-muted">
              Starting price: ${{ list.price }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>    
{% endblock %}