{% extends "auctions/layout.html" %}

{% block body %}
<!-- <div class="form-signin">
    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %} -->

    <form action="{% url 'new_listing' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="4"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="url" class="form-control" id="image" placeholder="image url">
        </div>
    </form>

    <!-- Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div> -->
{% endblock %}