{% extends "auctions/layout.html" %}

{% block body %}
<div class="form-new-listing">
    <form action="{% url 'new_listing' %}" method="post">
        {% csrf_token %}
        <div class="input group mb-3">
            <label for="title" class="form-label">Title</label>
            {{ form.title }}
        </div>
        <div class="input group mb-3">
            <label for="category" class="form-label">Category</label>
            {{ form.category }}
        </div>
        <div class="input group mb-3">
            <label for="description" class="form-label">Description</label>
            {{ form.description}}
        </div>
        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            {{ form.price }}
            <span class="input-group-text">.00</span>
        </div>
        <div class="input group mb-3">
            <label for="image" class="form-label">Image URL (optional)</label>
            {{ form.imageURL }}
        </div>
        <hr>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-outline-primary btn-md" value="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}