{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid verti">
  {% for list in data %}
  <div class="row">
    <div class="col-sm">
      <img src="{{ list.imageURL }}" alt="...">
    </div>
    <div class="col-6">
      <h5 class="card-title">{{ list.title }}</h5>
      <p class="card-text"><small><i>Created by: {{ list.user }}</i></small></p>
      <hr>
      <p class="card-text mb-2"><small>{{ list.category }}</small></p>
      <p class="card-text mb-1">{{ list.description }}</p>
      <p class="card-text mb-1">Starting Price: <b>${{ list.price }}</b></p>
      <p class="card-text mb-1">Current Price: <b>${{ list.price }}</b></p>
    </div>
    <div class="col-sm">
      <form action="#" method="post">
        {% csrf_token %}
        <div class="card border-info mb-3 h-100">
          <h5 class="card-header">Bid</h5>
          <div class="card-body">
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <span class="input-group-text">.00</span>
            </div>
            <div class="d-grid gap-2 mt-2">
              <button type="submit" class="btn btn-outline-primary btn-md" value="submit">Bid</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
<div class="container-fluid">
  <div class="col">
    <form action="#" method="post">
      {% csrf_token %}
      <div class="card h-100">
        <h5 class="card-header">Add Comment</h5>
        <div class="card-body">
          <textarea class="form-control" id="comment" rows="1"></textarea>
          <div class="d-grid gap-2 mt-2">
            <button type="submit" class="btn btn-outline-primary btn-md" value="submit">Post Comment</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
  
{% endblock %}