{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid verti">
  {% for list in data %}
  <div class="row">
    <div class="col-sm">
      <img src="{{ list.imageURL }}" alt="...">
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h5 class="card-title">{{ list.title }}</h5>
        </div>
        <div class="col">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'watchlist' %}" class="btn btn-outline-success btn-sm">Add to Watchlist</a>
          </div>
        </div>
      </div>
      <p class="card-text"><small><i>Created by: {{ list.user }} at {{ list.time }} UTC </i></small></p>
      <hr>
      <p class="card-text mb-2"><small>{{ list.category }}</small></p>
      <p class="card-text mb-1">{{ list.description }}</p>
      <p class="card-text mb-1">Starting Price: <b>${{ list.price }}</b></p>
      <p class="card-text mb-1">Highest Bid: <b>${{ bid }}</b></p>
      
    </div>
    <div class="col-sm">
      {% if user.is_authenticated %}
      <form action="{% url 'bid' title %}" method="post">
        {% csrf_token %}
        <div class="card border-info mb-3 h-100">
          <h5 class="card-header">Bid</h5>
          <div class="card-body">
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              {{ bid_form.amount_bid }}
              <span class="input-group-text">.00</span>
            </div>
            <div class="d-grid gap-2 mt-2">
              <button type="submit" class="btn btn-outline-primary btn-md" value="submit">Bid</button>
            </div>
          </div>
        </div>
      </form>
      {% if message1 %}
        <div class="alert alert-success" role="alert">
          {{ message1 }}
        </div>
      {% endif %}
      {% if message2 %}
        <div class="alert alert-warning" role="alert">
          {{ message2 }}
        </div>
      {% endif %}
      {% else %}
      <div class="bid log" style="margin: auto; text-align: center; border: 1px solid black; height: 100%;">
        <p>You need to log in for bidding!</p> 
        <a href="{% url 'login' %}">Log In</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<div class="container-fluid">
  <div class="col">
    {% if user.is_authenticated %}
    <form action="{% url 'comment' title %}" method="post">
      {% csrf_token %}
      <div class="card h-100">
        <h5 class="card-header">Add Comment</h5>
        <div class="card-body">
          {{ comment_form.comment_user }}
          <div class="d-grid gap-2 mt-2">
            <button type="submit" class="btn btn-outline-primary btn-md" value="submit">Post Comment</button>
          </div>
        </div>
      </div>
    </form>
    {% else %}
    <div class="bid log" style="margin: auto; text-align: center; border: 1px solid black;">
      <p>You need to log in for comment!</p> 
      <a href="{% url 'login' %}">Log In</a>
    </div>
    {% endif %}
  </div>
</div>
<div class="container-fluid">
  <div class="col mt-3">
    {% for comment in comments %}
    {{ comment.user }}
    <br>
    Comment on {{ comment.time }}
    <br>
    {{ comment.comment_user }}
    <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}