{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Watchlist</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for list in data %}
          <div class="col">
            <div class="card h-100">
              <a href="/view/{{list.title}}">
                <img src="{{ list.imageURL }}" class="card-img-top" onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqEWgS0uxxEYJ0PsOb2OgwyWvC0Gjp8NUdPw&usqp=CAU'" alt="..." style="width: 100%; height: 15vw; object-fit: cover;">
              </a>
              <div class="card-body">
                <a href="/view/{{list.title}}">
                  <h5 class="card-title">{{ list.title }}</h5>                  
                </a>
                <p class="card-text">by {{ list.user_auction }}</p>
                <hr>
                <p class="card-text">{{ list.description }}</p>
              </div>
              {% if user.is_authenticated %}
                {% if list.active_bid is True %}
                  <div class="button m-2">
                    <a href="{% url 'remove_watchlist' list.title %}" class="btn btn-outline-warning btn-sm">Remove Watchlist</a>
                  </div>
                {% else %}
                  <div class="d-grid gap-2">
                    <button class="btn btn-danger btn-sm" type="button">CLOSED</button>
                  </div>
                {% endif %}
              {% endif %}
              <div class="card-footer text-muted">
                Starting price: ${{ list.price }}
              </div>
            </div>
          </div>
        {% endfor %}
    </div> 
{% endblock %}